/TensorFlow/training_checkpoint/checkpoint
/TensorFlow/training_checkpoint/ckpt_1.data-00000-of-00001
/TensorFlow/training_checkpoint/ckpt_1.index
/TensorFlow/training_checkpoint/ckpt_2.data-00000-of-00001
/TensorFlow/training_checkpoint/ckpt_2.index
/TensorFlow/training_checkpoint/ckpt_3.data-00000-of-00001
/TensorFlow/training_checkpoint/ckpt_3.index
/TensorFlow/training_checkpoint/ckpt_4.data-00000-of-00001
/TensorFlow/training_checkpoint/ckpt_4.index
/TensorFlow/training_checkpoint/ckpt_5.data-00000-of-00001
/TensorFlow/training_checkpoint/ckpt_5.index
/TensorFlow/training_checkpoint/ckpt_6.data-00000-of-00001
/TensorFlow/training_checkpoint/ckpt_6.index
/TensorFlow/training_checkpoint/ckpt_7.data-00000-of-00001
/TensorFlow/training_checkpoint/ckpt_7.index
/TensorFlow/training_checkpoint/ckpt_8.data-00000-of-00001
/TensorFlow/training_checkpoint/ckpt_8.index
/TensorFlow/training_checkpoint/ckpt_9.data-00000-of-00001
/TensorFlow/training_checkpoint/ckpt_9.index
/TensorFlow/training_checkpoint/ckpt_10.data-00000-of-00001
/TensorFlow/training_checkpoint/ckpt_10.index
/venv/
